@font-face {
  font-family: "Cursive standard";
  src: url("Cursivestandardbold.woff2") format("woff2"),
    url("Cursivestandardbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cursive standard";
  src: url("Cursivestandard.woff2") format("woff2"),
    url("Cursivestandard.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Brettley Signature";
  src: url("BrettleySignature-Regular.woff2") format("woff2"),
    url("BrettleySignature-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Georgia";
  src: url("Georgia.woff2") format("woff2"), url("Georgia.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Georgia";
  src: url("Georgia-BoldItalic.woff2") format("woff2"),
    url("Georgia-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Georgia";
  src: url("Georgia-Bold.woff2") format("woff2"),
    url("Georgia-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Georgia";
  src: url("Georgia-Italic.woff2") format("woff2"),
    url("Georgia-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("SofiaPro-Medium.woff2") format("woff2"),
    url("SofiaPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("SofiaPro-SemiBold.woff2") format("woff2"),
    url("SofiaPro-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("SofiaPro-Light.woff2") format("woff2"),
    url("SofiaPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("SofiaPro-LightItalic.woff2") format("woff2"),
    url("SofiaPro-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("SofiaPro.woff2") format("woff2"),
    url("SofiaPro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("SofiaPro-UltraLight.woff2") format("woff2"),
    url("SofiaPro-UltraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FONTSPRING DEMO - Proxima Nova ExCn";
  src: url("FONTSPRINGDEMO-ProximaNovaExCnBlackRegular.woff2") format("woff2"),
    url("FONTSPRINGDEMO-ProximaNovaExCnBlackRegular.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FONTSPRING DEMO - Proxima Nova Cond";
  src: url("FONTSPRINGDEMO-ProximaNovaCondBlackRegular.woff2") format("woff2"),
    url("FONTSPRINGDEMO-ProximaNovaCondBlackRegular.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FONTSPRING DEMO - Proxima Nova";
  src: url("FONTSPRINGDEMO-ProximaNovaMediumRegular.woff2") format("woff2"),
    url("FONTSPRINGDEMO-ProximaNovaMediumRegular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FONTSPRING DEMO - Proxima Nova";
  src: url("FONTSPRINGDEMO-ProximaNovaRegular.woff2") format("woff2"),
    url("FONTSPRINGDEMO-ProximaNovaRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FONTSPRING DEMO - Proxima Nova";
  src: url("FONTSPRINGDEMO-ProximaNovaSemiboldRegular.woff2") format("woff2"),
    url("FONTSPRINGDEMO-ProximaNovaSemiboldRegular.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FONTSPRING DEMO - Proxima Nova";
  src: url("FONTSPRINGDEMO-ProximaNovaItalic.woff2") format("woff2"),
    url("FONTSPRINGDEMO-ProximaNovaItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
