@font-face {
  font-family: "Cursive standard";
  src: url("Cursivestandardbold.woff2") format("woff2"),
    url("Cursivestandardbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cursive standard";
  src: url("Cursivestandard.woff2") format("woff2"),
    url("Cursivestandard.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Brettley Signature";
  src: url("BrettleySignature-Regular.woff2") format("woff2"),
    url("BrettleySignature-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Georgia";
  src: url("Georgia.woff2") format("woff2"), url("Georgia.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Georgia";
  src: url("Georgia-Bold.woff2") format("woff2"),
    url("Georgia-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("SofiaPro-Medium.woff2") format("woff2"),
    url("SofiaPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("SofiaPro-SemiBold.woff2") format("woff2"),
    url("SofiaPro-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("SofiaPro.woff2") format("woff2"),
    url("SofiaPro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("SofiaPro-UltraLight.woff2") format("woff2"),
    url("SofiaPro-UltraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
