.fixed-card-size {
  /* width: 40vw;
  height: 32vh; */
  background: radial-gradient(
    ellipse at 50% 49%,
    #000000,
    rgba(0, 0, 0, 1),
    #323b64
  );
}

@media screen and (min-width: 768px) {
  .fixed-card-size {
    width: auto;
    height: auto;
  }
  h4 {
    text-align: center;
    margin-bottom: 1.6rem;
  }
}
