@keyframes slide-up {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(5%);
    opacity: 1;
  }
}

.animate-slide-up {
  animation: slide-up 1s ease-in-out forwards;
}
