.social-icon {
  border-radius: 8px; /* Adjust the border-radius as needed for your square shape */
  background-color: black;
  transition: background-color 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.1);
}
.heading-tile {
  background: rgb(1, 10, 26);
  background: linear-gradient(
    180deg,
    rgba(1, 10, 26, 0.9641106442577031) 11%,
    rgba(16, 41, 94, 1) 100%
  );
}
