@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: #888;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: #1f1f2e;
  overflow: hidden;
  z-index: -1; /* Ensure it stays behind other content */
}

.background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 6s linear infinite;
}

.background li:nth-child(1) {
  left: 11%;
  width: 90px;
  height: 90px;
  bottom: -90px;
  animation-delay: 1s;
}
.background li:nth-child(2) {
  left: 71%;
  width: 91px;
  height: 91px;
  bottom: -91px;
  animation-delay: 1s;
}
.background li:nth-child(3) {
  left: 48%;
  width: 111px;
  height: 111px;
  bottom: -111px;
  animation-delay: 1s;
}
.background li:nth-child(4) {
  left: 7%;
  width: 130px;
  height: 130px;
  bottom: -130px;
  animation-delay: 4s;
}
.background li:nth-child(5) {
  left: 12%;
  width: 129px;
  height: 129px;
  bottom: -129px;
  animation-delay: 11s;
}
.background li:nth-child(6) {
  left: 17%;
  width: 39px;
  height: 39px;
  bottom: -39px;
  animation-delay: 7s;
}
.background li:nth-child(7) {
  left: 28%;
  width: 59px;
  height: 59px;
  bottom: -59px;
  animation-delay: 24s;
}
.background li:nth-child(8) {
  left: 58%;
  width: 80px;
  height: 80px;
  bottom: -80px;
  animation-delay: 25s;
}
.background li:nth-child(9) {
  left: 8%;
  width: 115px;
  height: 115px;
  bottom: -115px;
  animation-delay: 25s;
}
.background li:nth-child(10) {
  left: 71%;
  width: 144px;
  height: 144px;
  bottom: -144px;
  animation-delay: 29s;
}

.container {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

@keyframes blink {
  0%,
  49.99% {
    background-color: rgba(255, 255, 255, 0);
  }
  50%,
  100% {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 0;
    filter: blur(5px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);

    opacity: 1;
  }
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .container {
  margin: 0;
  padding: 0;
  position: relative;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(0, 0, 0) 0%,
    rgb(64, 64, 64) 90.2%
  );
  animation: blink 5s infinite; */
/* background: #1a1a28;
  background: -webkit-linear-gradient(219deg, #1a1a28 0%, #26262d 100%);
  background: linear-gradient(219deg, #1a1a28 0%, #26262d 100%); */
/* width: 100%;
  background: url("../src/assets/blue-gradient.png");
  background-size: 100% 100%;

  min-height: 100vh;
  overflow-x: hidden;
} */

.typing-animation {
  overflow: hidden;
  white-space: wrap;
  transition: width 3s ease;
}

.animate-typing {
  animation: typing 3s steps(10, end);
}

.blur-out {
  animation: fadeOut 2s ease-out forwards;
}

.animate {
  animation: slideInFromLeft 0.5s forwards ease-in;
}

.wrapper {
  /* background: linear-gradient(
    109.6deg,
    rgb(41, 125, 182) 3.6%,
    rgb(77, 58, 151) 51%,
    rgb(103, 55, 115) 92.9%
  ); */
  background-image: linear-gradient(
    to top,
    #1e3c72 0%,
    #1e3c72 1%,
    #2a5298 100%
  );
}

.heading {
  background: rgb(1, 10, 26);
  background: linear-gradient(
    180deg,
    rgba(1, 10, 26, 0.9641106442577031) 11%,
    rgba(16, 41, 94, 1) 100%
  );
}

.content-box {
  position: relative;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out,
    z-index 0.3s ease-in-out;
  will-change: transform;
  z-index: 0;
}

.content-box:hover {
  transform: translateY(-10px);
  z-index: 10;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.content-box > * {
  transition: transform 0.3s ease-in-out;
}

.social-icon {
  border-radius: 50%;
  background-color: black;
  transition: background-color 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.2);
  border: 2px solid skyblue;
}
.heading-tile {
  background: rgb(1, 10, 26);
  background: linear-gradient(
    180deg,
    rgba(1, 10, 26, 0.9641106442577031) 11%,
    rgba(16, 41, 94, 1) 100%
  );
}
