@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: #888;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0;
  padding: 0;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(0, 0, 0) 0%,
    rgb(64, 64, 64) 90.2%
  );

  /* background: #1a1a28;
  background: -webkit-linear-gradient(219deg, #1a1a28 0%, #26262d 100%);
  background: linear-gradient(219deg, #1a1a28 0%, #26262d 100%); */
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.typing-animation {
  overflow: hidden;
  white-space: wrap;
  transition: width 3s ease;
}

.animate-typing {
  animation: typing 3s steps(10, end);
}

@keyframes fadeOut {
  0% {
    opacity: 0;
    filter: blur(5px);
  }
  100% {
    opacity: 1;
  }
}

.blur-out {
  animation: fadeOut 2s ease-out forwards;
}
.wrapper {
  background: linear-gradient(
    109.6deg,
    rgb(41, 125, 182) 3.6%,
    rgb(77, 58, 151) 51%,
    rgb(103, 55, 115) 92.9%
  );
}
.heading {
  background: rgb(1, 10, 26);
  background: linear-gradient(
    180deg,
    rgba(1, 10, 26, 0.9641106442577031) 11%,
    rgba(16, 41, 94, 1) 100%
  );
}

/* .content-box {
  position: relative;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  will-change: transform;
}

.content-box:hover {
  transform: translateY(-5px) scale(1.05);
  z-index: 1;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.content-box > * {
  transition: transform 0.3s ease-in-out;
} */

.content-box {
  position: relative;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out,
    z-index 0.3s ease-in-out;
  will-change: transform;
  z-index: 0;
}

.content-box:hover {
  transform: translateY(-10px);
  z-index: 10;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.content-box > * {
  transition: transform 0.3s ease-in-out;
}
